@charset "utf-8";

.label {
	width: 150px;
	height: 30px;
}

table  {
	margin:0 auto;
}

td.inputTd{
	height:50px;
}

input{
	margin-bottom: 5px;
}

select{
	margin-bottom: 5px;
	font-size:15px;
}

.inButton {
	margin-right :5px ;
}

.detail {
	margin:0 auto;
}

.customerId{
	width: 100px;
	text-align: center;
}

.customerName{
	width: 180px;
	text-align: center;
}

.tel{
	width: 120px;
	text-align: center;
}

.agreeStatus{
	width: 80px;
	text-align: center;
}

.agreeYmd{
	width: 100px;
	text-align: center;
}

.csvCheck{
	width: 80px;
	text-align: center;
}

.list{
	margin-left :5px ;
}
