@charset "utf-8";

div {
	text-align:  center;
}

.label {
	height: 30px;
}

table  {
	margin:0 auto;
}

td  {
	width: 150px;
}


table thead {
	color: #000000;
	background: #6cb6ff;
}

.inButton {
	margin-right :5px ;
}

.detail {
	margin:0 auto
}