@charset "utf-8";

.label {
	width: 150px;
	height: 30px;
}

table  {
	margin:0 auto;
}

input{
	margin-bottom: 5px;
}
select{
	margin-bottom: 5px;
	font-size:15px;
}

.inButton {
	margin-right :5px ;
}

.detail {
	margin:0 auto;
}

.employeeId{
	width: 100px;
	text-align: center;
}

.employeeName{
	width: 180px;
	text-align: center;
}

.sex{
	width: 40px;
	text-align: center;
}

.joinedYmd{
	width: 100px;
	text-align: center;
}

.csvCheck{
	width: 80px;
	text-align: center;
}

.list{
	margin-left :5px ;
}