@charset "utf-8";

.label {
	width: 150px;
	height: 30px;
}

table  {
	margin:0 auto;
}

table thead {
	color: #000000;
	background: #6cb6ff;
}

.inButton {
	margin-right :5px ;
}

.detail {
	margin:0 auto;
}