<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!-- (1)フィルタプログラムを指定しています。 -->
  <filter>
      <filter-name>EncodingFilter</filter-name>
      <filter-class>application.filter.EncodingFilter</filter-class>
  </filter>
  <filter>
      <filter-name>ContentsFilter</filter-name>
      <filter-class>application.filter.ContentsFilter</filter-class>
  </filter>
  <!-- (2)フィルタ処理を適用する条件を指定します。
          /*と指定しており、すべてのアクセスにフィルタ処理が適用されます。-->
  <filter-mapping>
      <filter-name>EncodingFilter</filter-name>
      <url-pattern>*.htm</url-pattern>
      <url-pattern>*.html</url-pattern>
      <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>ContentsFilter</filter-name>
      <url-pattern>*.js</url-pattern>
      <url-pattern>*.css</url-pattern>
      <url-pattern>*.jpeg</url-pattern>
      <url-pattern>*.gif</url-pattern>
      <url-pattern>*.htm</url-pattern>
      <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>InitializationListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>AuthorizedInit</servlet-name>
    <servlet-class>application.authorized.AuthorizedInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizedInit</servlet-name>
    <url-pattern>/authorized</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorizedLogin</servlet-name>
    <servlet-class>application.authorized.AuthorizedLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizedLogin</servlet-name>
    <url-pattern>/authorized/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuInit</servlet-name>
    <servlet-class>application.menu.MenuInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuInit</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuAction</servlet-name>
    <servlet-class>application.menu.MenuAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuAction</servlet-name>
    <url-pattern>/menu/move</url-pattern>
  </servlet-mapping>
</web-app>