<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!-- (1)フィルタプログラムを指定しています。 -->
  <filter>
      <filter-name>ContentsFilter</filter-name>
      <filter-class>lib.filter.ContentsFilter</filter-class>
  </filter>
  <filter>
      <filter-name>EncodingFilter</filter-name>
      <filter-class>lib.filter.EncodingFilter</filter-class>
  </filter>
  <filter>
      <filter-name>SecurityFilter</filter-name>
      <filter-class>lib.filter.SecurityFilter</filter-class>
  </filter>
  <filter>
      <filter-name>SessionFilter</filter-name>
      <filter-class>lib.filter.SessionFilter</filter-class>
  </filter>
  <!--
  <filter>
      <filter-name>StringTrimingFilter</filter-name>
      <filter-class>lib.filter.StringTrimingFilter</filter-class>
  </filter>
   -->
  <!-- (2)フィルタ処理を適用する条件を指定します。
          /*と指定しており、すべてのアクセスにフィルタ処理が適用されます。-->
  <filter-mapping>
      <filter-name>ContentsFilter</filter-name>
      <url-pattern>*.js</url-pattern>
      <url-pattern>*.css</url-pattern>
      <url-pattern>*.jpeg</url-pattern>
      <url-pattern>*.png</url-pattern>
      <url-pattern>*.gif</url-pattern>
      <url-pattern>*.htm</url-pattern>
      <url-pattern>*.html</url-pattern>
      <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>EncodingFilter</filter-name>
      <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>SecurityFilter</filter-name>
      <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>SessionFilter</filter-name>
      <url-pattern>*</url-pattern>
  </filter-mapping>
  <!--
  <filter-mapping>
      <filter-name>StringTrimingFilter</filter-name>
      <url-pattern>*</url-pattern>
  </filter-mapping>
   -->
  <!-- (3)サーバ起動時の初期処理を適用する条件を指定します。-->
  <!--
  <listener>
    <listener-class>InitializationListener</listener-class>
  </listener>
  -->
  <!-- (4)アプリケーション処理を適用する条件を指定します。
          各urlとクラスをマッピングし、対応した処理を適用します。-->
  <!-- ログイン -->
  <servlet>
    <servlet-name>LoginInit</servlet-name>
    <servlet-class>lib.common.login.action.LoginInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginInit</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>lib.common.login.action.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/login/check</url-pattern>
  </servlet-mapping>
  <!-- パスワード変更 -->
  <servlet>
    <servlet-name>PasswordInit</servlet-name>
    <servlet-class>lib.common.password.action.PasswordInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordInit</servlet-name>
    <url-pattern>/password/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasswordChange</servlet-name>
    <servlet-class>lib.common.password.action.PasswordChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordChange</servlet-name>
    <url-pattern>/password/change</url-pattern>
  </servlet-mapping>
  <!-- メニュー -->
  <servlet>
    <servlet-name>MenuInit</servlet-name>
    <servlet-class>lib.common.menu.action.MenuInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuInit</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuAction</servlet-name>
    <servlet-class>lib.common.menu.action.MenuAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuAction</servlet-name>
    <url-pattern>/menu/move</url-pattern>
  </servlet-mapping>
  <!-- 社員一覧 -->
  <servlet>
    <servlet-name>Emp0001LstInit</servlet-name>
    <servlet-class>application.emp0001.list.action.Emp0001LstInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0001LstInit</servlet-name>
    <url-pattern>/Emp0001Lst/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Emp0001LstCsvDownload</servlet-name>
    <servlet-class>application.emp0001.list.action.Emp0001LstCsvDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0001LstCsvDownload</servlet-name>
    <url-pattern>/Emp0001Lst/csv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Emp0001LstSearch</servlet-name>
    <servlet-class>application.emp0001.list.action.Emp0001LstSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0001LstSearch</servlet-name>
    <url-pattern>/Emp0001Lst/search</url-pattern>
  </servlet-mapping>
  <!-- 社員詳細 -->
  <servlet>
    <servlet-name>Emp0001DtlInit</servlet-name>
    <servlet-class>application.emp0001.detail.action.Emp0001DtlInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0001DtlInit</servlet-name>
    <url-pattern>/Emp0001Dtl/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Emp0001DtlSave</servlet-name>
    <servlet-class>application.emp0001.detail.action.Emp0001DtlSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0001DtlSave</servlet-name>
    <url-pattern>/Emp0001Dtl/save</url-pattern>
  </servlet-mapping>
  <!-- 社員アップロード -->
  <servlet>
    <servlet-name>Emp0001UplInit</servlet-name>
    <servlet-class>application.emp0001.upload.action.Emp0001UplInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0001UplInit</servlet-name>
    <url-pattern>/Emp0001Upl/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Emp0001UplCsvUpload</servlet-name>
    <servlet-class>application.emp0001.upload.action.Emp0001UplCsvUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0001UplCsvUpload</servlet-name>
    <url-pattern>/Emp0001Upl/upload</url-pattern>
  </servlet-mapping>
  <!-- 顧客一覧 -->
  <servlet>
    <servlet-name>Emp0002LstInit</servlet-name>
    <servlet-class>application.emp0002.list.action.Emp0002LstInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0002LstInit</servlet-name>
    <url-pattern>/Emp0002Lst/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Emp0002LstCsvDownload</servlet-name>
    <servlet-class>application.emp0002.list.action.Emp0002LstCsvDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0002LstCsvDownload</servlet-name>
    <url-pattern>/Emp0002Lst/csv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Emp0002LstSearch</servlet-name>
    <servlet-class>application.emp0002.list.action.Emp0002LstSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0002LstSearch</servlet-name>
    <url-pattern>/Emp0002Lst/search</url-pattern>
  </servlet-mapping>
  <!-- 顧客詳細 -->
  <servlet>
    <servlet-name>Emp0002DtlInit</servlet-name>
    <servlet-class>application.emp0002.detail.action.Emp0002DtlInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0002DtlInit</servlet-name>
    <url-pattern>/Emp0002Dtl/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Emp0002DtlSave</servlet-name>
    <servlet-class>application.emp0002.detail.action.Emp0002DtlSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp0002DtlSave</servlet-name>
    <url-pattern>/Emp0002Dtl/save</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/WEB-INF/jsp/errorpages/ErrorPage401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/jsp/errorpages/ErrorPage403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/errorpages/ErrorPage404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/errorpages/ErrorPage500.jsp</location>
  </error-page>
</web-app>