@charset "utf-8";

html {
	height: 100%;
}

/* 画面全体のスタイル */
body {
	background-color: #fffce1;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	min-height: 90vh;
	margin: 0;
	padding: 0;
}
/* ヘッダ部のスタイル */
header {
	background-color: #3277eb;
	width: 100%;
}
/* ヘッダ部グループ */
.headerGroup {
    display: flex;
    justify-content: center;
    position: relative;
}
/* ヘッダ部画面名称 */
.headerTitle {
	color: #ffffff;
	font-size: 18pt;
	font-weight:bold;
 }
/* ヘッダ部日付 */
.headerDate {
	color: #ffffff;
	font-size: 15pt;
	position: absolute;
	right: 0;
	bottom: 0;
 }
/* ヘッダ部ユーザ */
.headerUser {
	color: #ffffff;
	font-size: 15pt;
	position: absolute;
	left: 0;
	bottom: 0;
 }
/* エラーメッセージ */
.errorMessageGroup{
	margin :0 auto;
	width : 500px;
	text-align: center;
	color: #ff0000;
	font-weight: bold;
}
/* 情報メッセージ */
.infoMessageGroup{
	margin :0 auto;
	width : 500px;
	text-align: center;
	color: #3f3f3f;
	font-weight: bold;
}

/* セクション部のスタイル */
section {
}

/* ナビゲーション部のスタイル */
nav {
}
/* 記事部のスタイル */
article {
}
/* 補足情報部のスタイル */
aside {
}
/* フッタ部のスタイル */
footer {
	background-color: #0000ff;
	width: 100%;
	text-align: right;
	position: absolute;
	bottom: 0px;
}
table {
  border-collapse: collapse;
}
table thead {
	font-size:15px;
	color: #000000;
	background: #5c94ef;
}
/* 一覧部のスタイル */
table.list {
	height: 50px;
}
table thead tr.list {
}
table thead td {
}
table thead tr td.list {
	color: #ffffff;
	border: 1px #c0c0c0 solid;
}
table tbody tr.list {
}
table tbody tr td.list {
	border: 1px #c0c0c0 solid;
	background-color: white;
}
table tfoot {
	text-align: center;
}
table tfoot tr.list {
}
table tfoot tr td.list {
}

/* インプット基本 */
input{
	border:1px solid #ced4da;
	border-radius: .25rem;
	transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	padding: .175rem .75rem;
	vertical-align:middle;
	background-color: white;
	height:30px;
}

input:focus{
	color:#495057;
	background-color: white;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0,123,255, .25);
}

select{
	border:1px solid #ced4da;
	border-radius: .25rem;
	transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	padding: .175rem .75rem;
	vertical-align:middle;
	background-color: white;
	height:30px;
}

input[type=checkbox] {
	height:23px;
	width:23px;
}

input[type=radio] {
	height:23px;
	width:23px;
}

select {
	height:28px;
	font-size:large;
}

input[type=text] {
	height:23px;
	font-size:large;
}

input[type=date] {
	height:23px;
	width:110px;
	font-size:large;
}

input[type=password] {
	height:23px;
	font-size:large;
}
input[type=button] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
	height:30px;
	padding-left:15px;
	padding-right:15px;
}
input[type=submit] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
	height:30px;
	padding-left:15px;
	padding-right:15px;
}

input[type=button]:hover {
    background-color: #EEEEEE;
}
input[type=submit]:hover {
    background-color: #EEEEEE;
}

input[type=button]:disabled {
    background-image: none;
    background-color: #ffffff;
    border-color: #ced4da;
}
