@charset "utf-8";

html {
	height: 100%;
}

/* 画面全体のスタイル */
body {
	background-color: #fffce1;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	min-height: 90vh;
	margin: 0;
	padding: 0;
}
/* ヘッダ部のスタイル */
header {
	background-color: #3277eb;
	width: 100%;
}
/* ヘッダ部グループ */
.headerGroup {
    display: flex;
    justify-content: center;
    position: relative;
}
/* ヘッダ部画面名称 */
.headerTitle {
	color: #ffffff;
	font-size: 18pt;
	font-weight:bold;
 }
/* ヘッダ部日付 */
.headerDate {
	color: #ffffff;
	font-size: 15pt;
	position: absolute;
	right: 0;
	bottom: 0;
 }
/* ヘッダ部ユーザ */
.headerUser {
	color: #ffffff;
	font-size: 15pt;
	position: absolute;
	left: 0;
	bottom: 0;
 }
/* エラーメッセージ */
.messageGroup{
	margin :0 auto;
	width : 500px;
	text-align: center;
	color: #ff0000;
	font-weight: bold;
}
/* セクション部のスタイル */
section {
}

/* ナビゲーション部のスタイル */
nav {
}
/* 記事部のスタイル */
article {
}
/* 補足情報部のスタイル */
aside {
}
/* フッタ部のスタイル */
footer {
	background-color: #0000ff;
	width: 100%;
	text-align: right;
	position: absolute;
	bottom: 0px;
}
/* 一覧部のスタイル */
table.list {
	border-collapse:collapse;
	border-spacing: 0;
}
table thead tr.list {
}
table thead tr td.list {
	border: 1px black solid;
}
table tbody tr.list {
}
table tbody tr td.list {
	border: 1px black solid;
	background-color: white;
}
table tfoot tr.list {
}
table tfoot tr td.list {
	border: 1px black solid;
}

input[type=checkbox] {
	height:23px;
	width:23px;
}

input[type=radio] {
	height:23px;
	width:23px;
}

select {
	height:28px;
	font-size:large;
}

input[type=text] {
	height:23px;
	font-size:large;
}

input[type=date] {
	height:23px;
	width:110px;
	font-size:large;
}

input[type=password] {
	height:23px;
	font-size:large;
}
input[type=button] {
	height:35px;
	padding-left:10px;
	padding-right:10px;
}
input[type=submit] {
	height:35px;
	padding-left:10px;
	padding-right:10px;
}